html {
  background-image: url(../img/headbg.jpg), url(../img/bobybg.jpg);
  background-position: center top;
  background-repeat: repeat-x;
  background-color: black;
}
body {
  color:white;
}
.container{
  width:800px;
  margin:0 auto;
}
header {

}
section {
  width:64%;
  float: left;
  background-image: url(../img/leftbg.jpg);
  background-position: right top;
  background-repeat: no-repeat;
}
aside {
  width:34%;
  float: right;
  background-image: url(../img/rightbg.png);
  background-position: left top;
    background-repeat: no-repeat;
}
main::after {
  content:'';
  display:
}
body > :first-child {
  background-image: url(../img/pictop.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
}
