@font-face {
  font-family: 'BrushScript';
  src: url('http://matthewhigley.com/fonts/BrushScriptStd.eot');
  src: url('http://matthewhigley.com/fonts/BrushScriptStd.eot?#iefix') format('embedded-opentype'),
       url('http://matthewhigley.com/fonts/BrushScriptStd.woff') format('woff'),
       url('http://matthewhigley.com/fonts/BrushScriptStd.ttf')  format('truetype'),
       url('http://matthewhigley.com/fonts/BrushScriptStd.svg#eb21f6604ba28d5573abad1c01255830') format('svg');
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'Fraktur';
  src: url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.eot');
  src: url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.eot?#iefix') format('embedded-opentype'),
       url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.woff') format('woff'),
       url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.ttf')  format('truetype'),
       url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.svg#f78369fb7f540f355d128fc492e4218d') format('svg');
  font-style:   normal;
  font-weight:  400;
}
body {
  background-color: #510000;
  font-family: 'Fraktur';
}
h1#name {
  color:#BA9500;
  background-color: #FFFFF0;
}
header {
  display: flex;
}
header h1 {
  margin:0;
}
h1#name {
  font-size: 4vw;
  display: flex;
  flex-direction: column;
}
hr {
  background-color:#FFFFF0;
  margin: 0;
  height: 4px;
  width: 100px;
}
header  {
margin: 0;
display: flex;
justify-content: center;
}
aside {

}
