body {
  margin: 0;
  padding: 0;
  font-family: arial, helvetica,sans-serif;}
header {
  width:100%;
  height:500px;
  background-image: url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  display: inline-block;
}
h1 {color: white;
    font-size: 50px;
    letter-spacing: -5px;
}

}
h1, ul {
  margin: 0;
  display: inline-block;
}
ul {
  float: right;
}
ul li {
  color: white;
  display: inline-block;
  line-height: 50px;
  padding: 0 20px;
  /*padding: 20px 0;*/
  margin-left: 10px;
}

h1 a{
  text-decoration:none;
  color: inherit;

}
ul li:hover{
  cursor: pointer;

}
h1, ul{
  margin:0;
  display: inline-block;
}
ul li:hover, .active {
  background-color: hsl(190, 80%, 80%);
  border-top-right-radius: 20px 50%;
  border-bottom-right-radius: 20px 50%;
  border-top-left-radius: 20px 50%;
  border-bottom-left-radius: 20px 50%;
}
h1 span {
  color: hsl(190, 80%, 80%);
}





















/*img {
  position: fixed;
  top:calc(50% - calc(150px / 2)) ;
  left:calc(50% - calc(150px / 2));
}
div {
  position: fixed;
  background-color: hsla(0, 0%, 0%, 0.5);
  bottom: 0;
  top:0;
  left:0;
  right:0;
  color:black;

}
div.ab {
  background-color: white;
  position: absolute;
  width: 500px;
  top:calc(50% - calc(225px / 2)) ;
  left:calc(50% - calc(500px / 2)) ;
  border-radius: 3px;

}
div.ab div::before {
  content:"";
  display: block;
  width: 100%;
  height: 35px;
  background-color: hsla(0, 0%, 80%, 1);
  border-bottom: 1px solid hsla(0, 0%, 70%, 1);

}
div.ab div::after{content"x";
}
*/
