@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
body {
  font-family: sans-serif;
  margin: 0;
}
header nav h1 a{
  color: hsl(154, 69%, 37%);
}
h1 a{
  text-decoration: none;
}
header {
  color: hsl(154, 69%, 37%);
  padding: 30px;
}
nav{
  display: flex;
  justify-content: space-between;
}
ul li a{
  text-decoration: none;
  color: hsl(60, 0%, 24%);
}
ul li{
  display: inline-block;
  font-size: 20px;
}
li.rawr {
  border: 1px hsl(143, 75%, 37%) solid;
  color: white;
  background-color: hsl(158, 82%, 24%);
  padding: 20px;
}
li.rawr a {
  color: white;

}
img {
  width: 100%;
  height:auto;
  margin:0;

}
main {
  padding: 15px;
}
main h3 {
  color:white;
}
main p {
  color: #6C6C6C;
}
main.colorback {
  background-color: #383838;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 97.6%;
  height:400px;
  text-align: center;
  margin: 0;

}
.fa {
  font-size: 50px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
div.middle{
  margin-bottom: 50px;
}

div.middle h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.middle span {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.middle p{
  padding: 20px;
}
.button {
    padding: 25px;
    background: #1B9772;
    letter-spacing: 1px;
    text-decoration: none;
    color: #FFF;
    overflow: hidden;
  }
  div button a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

footer {
  background-color: #383838;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  text-align: center;
  height: 180px;
}
