@font-face {
  font-family: 'BrushScript';
  src: url('http://matthewhigley.com/fonts/BrushScriptStd.eot');
  src: url('http://matthewhigley.com/fonts/BrushScriptStd.eot?#iefix') format('embedded-opentype'),
       url('http://matthewhigley.com/fonts/BrushScriptStd.woff') format('woff'),
       url('http://matthewhigley.com/fonts/BrushScriptStd.ttf')  format('truetype'),
       url('http://matthewhigley.com/fonts/BrushScriptStd.svg#eb21f6604ba28d5573abad1c01255830') format('svg');
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'Fraktur';
  src: url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.eot');
  src: url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.eot?#iefix') format('embedded-opentype'),
       url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.woff') format('woff'),
       url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.ttf')  format('truetype'),
       url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.svg#f78369fb7f540f355d128fc492e4218d') format('svg');
  font-style:   normal;
  font-weight:  400;
}
body {
  background-color: #510000;
  font-family: 'Fraktur';
  margin-left:15vw;
  margin-right:15vw;
}
h1#name {
  color:#BA9500;
  background-color: #FFFFF0;
}
header {
  display: flex;
}
header h1 {
  margin:0;
}
header img {
}
h1#name {
  font-size: 4vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}
hr {
  background-color:#FFFFF0;
  margin: 0;
  height: 4px;
  width: 100px;
}
header  {
margin: 0;
display: flex;
justify-content: center;
}
aside {
display:flex;
border:2px solid black;
border-radius: 10%;
}
section ,nav {
    background-color: #FFFFF0;
}

section  {
  display: flex;
}
section p {
    font-family: sans-serif;
}
 h1{
      color: #660000;
}
section h1 {
  color:#D2A800;
}
a {
  text-decoration: none;
}
ul, ol {
  list-style: none;
  margin: 0;
  }

  li a {
    color: #660000;
    padding: 5px;
    font-size: 2vw;
    font-family: 'BrushScript';
  }
  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 2px solid black;
    border-style: dotted;
  }
