@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
body {
  margin: 0;
}

.sidenav {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: -13px;
   right:0px;
   background-color: #ffffff;
   overflow-x: hidden;
   padding-top: 60px;
   transition: 0.5s;
}
.sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
   color: #f1f1f1;
}

.sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
}
span {
float:right;
margin-top:0;
}

@media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
}

.margin {
  padding: 0 150px;
}

header {
  display: flex;
  flex-direction: column;
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  z-index: 1;
  position: relative;
}
header::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  background: hsla(0, 0%, 40%, 0.5);
  z-index: -1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}
header div a: {
  margin: auto;
  background-color: #FFFFFF;
}
h1 {
  margin: 0;
}

/*ul {
  list-style: none;
}
ul li a {
  text-decoration: none;
}*/

header div {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  width:45%;
}
header div h2 {
  font-family: 'Pragati Narrow', sans-serif;
  color: white;
  line-height: 2;
  margin: auto;
  font-size: 55px;
  text-align: center;
border-bottom: 1px white solid;
width:70%;
}
header div p {
  color: hsla(0, 0%, 100%, 0.75);
}
.button.special{
    box-shadow: none;
    background-color: #ffffff;
    color: #333333;
  }
  .button {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    border-radius: 4px;
   border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 500;
  height: 3.5em;
   letter-spacing: 0.25em;
   line-height: 3.5em;
   padding: 0 2em;
    text-align: center;
     text-decoration: none;
    text-transform: uppercase;
   white-space: nowrap;
   margin: auto;
  }
